Repository llmariner/user-manager, pull requests merged in 2024-11, with the labels that each got.

#108 chore(chart): add number type metadata
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: skip-changelog

#109 ci(pr-labeler): change trigger to pull_request_target
  .github/workflows/pr-labeler.yml
Labels: skip-changelog

#110 ci(make): fix git-clean-check to validate the preceding target results
  common.mk
Labels: skip-changelog

#111 feat(api): add /v1/users:getSelf
  api/v1/user_manager_service.pb.go
  api/v1/user_manager_service.pb.gw.go
  api/v1/user_manager_service.proto
  api/v1/user_manager_service.swagger.json
  api/v1/user_manager_service_grpc.pb.go
  buf.lock
  deployments/server/templates/ingress.yaml
  dist/api/v1/user_manager_service.pb.d.ts
  dist/api/v1/user_manager_service.pb.js
  server/internal/server/user.go
  server/internal/server/user_test.go
  ts/api/v1/user_manager_service.pb.ts
Labels: enhancement

#114 fix(chart): fix the ingress for /v1/users
  deployments/server/templates/ingress.yaml
Labels: bug

#113 fix(api): fix the api resource logic for GetUserSelf
  server/internal/server/server.go
Labels: bug

#116 feat(ListOrganizations): make it able to retrieve summary info of org…
  api/v1/user_manager_service.pb.go
  api/v1/user_manager_service.pb.gw.go
  api/v1/user_manager_service.proto
  api/v1/user_manager_service.swagger.json
  dist/api/v1/user_manager_service.pb.d.ts
  server/internal/server/org.go
  server/internal/server/org_test.go
  ts/api/v1/user_manager_service.pb.ts
Labels: enhancement

#117 refactor: remove unused arguments
  server/internal/server/org.go
  server/internal/server/project.go
  server/internal/server/user.go
Labels: skip-changelog

#118 refactor: renaming and more comments for the authorization logic
  server/internal/server/api_keys.go
  server/internal/server/org.go
  server/internal/server/project.go
  server/internal/server/server.go
  server/internal/server/user.go
Labels: skip-changelog

#119 fix: bump github.com/jackc/pgx/v5 to v5.5.4
  go.mod
  go.sum
Labels: bug

#122 feat(chart): add an enable option for the dependency condition
  deployments/server/templates/_helpers.tpl
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#121 feat(ListProjects): make it able to retrieve summary info of projects…
  api/v1/user_manager_service.pb.go
  api/v1/user_manager_service.pb.gw.go
  api/v1/user_manager_service.proto
  api/v1/user_manager_service.swagger.json
  dist/api/v1/user_manager_service.pb.d.ts
  server/internal/server/project.go
  server/internal/server/project_test.go
  server/internal/store/projectuser.go
  ts/api/v1/user_manager_service.pb.ts
Labels: enhancement

#124 feat(server): support an enable flag for the usage sender
  deployments/server/values.schema.json
  deployments/server/values.yaml
  go.mod
  go.sum
  server/cmd/run.go
Labels: enhancement

#125 fix(chart): unset the default value of `enable`
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: bug

#126 ci(release): add bump option
  .github/workflows/manual-release-pr.yaml
Labels: skip-changelog
