Repository llmariner/user-manager, pull requests merged in 2025-03, with the labels that each got.

#158 chore: tweak the key obfuscation function
  server/internal/server/api_keys.go
  server/internal/server/api_keys_test.go
Labels: skip-changelog

#160 chore(fix): fix a typo in the comment
  api/v1/user_manager_service.pb.go
  api/v1/user_manager_service.proto
  api/v1/user_manager_service.swagger.json
  buf.lock
Labels: skip-changelog

#162 fix: fix the user ID for default api key creation
  server/internal/server/api_keys.go
Labels: bug

#161 feat: set use_proto_names=true in buf.gen.ts.yaml
  buf.gen.ts.yaml
  dist/api/v1/user_manager_service.pb.d.ts
  dist/api/v1/user_manager_service.pb.js
  ts/api/v1/user_manager_service.pb.ts
  ts/google/api/http.pb.ts
  ts/google/protobuf/descriptor.pb.ts
Labels: enhancement

#164 feat(api): generate `index.js` and `index.d.ts` in the `dist` directory
  buf.lock
  dist/index.d.ts
  dist/index.js
  ts/index.ts
Labels: enhancement

#166 feat: add an option to hide org/project users
  server/internal/server/org.go
  server/internal/server/org_test.go
  server/internal/server/project.go
  server/internal/server/project_test.go
  server/internal/store/orguser.go
  server/internal/store/orguser_test.go
  server/internal/store/projectuser.go
  server/internal/store/projectuser_test.go
Labels: enhancement
